<%-include('../layout/adminHeader')-%>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Categories</h2>
                        <p>Add, edit or delete a category</p>
                    </div>
                    <% if(typeof sucessMsg != 'undefined'){ %>
                        <p class="text-center text-success mb-5" id="text-danger"><%= sucessMsg %></p>  
                       <% } %>
                       <% if(typeof warningMsg != 'undefined'){ %>
                        <p class="text-center text-danger  mb-5" id="text-danger"><%= warningMsg %></p> 
                       <% } %>
                    <div>
                        <input required type="text" placeholder="Search Categories" class="form-control bg-white" />
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <form method="post" >
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Name</label>
                                        <input required name="categoryName" type="text" placeholder="Type here" class="form-control" id="product_name" />
                                    </div>
                         
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <textarea name="description" placeholder="Type here" class="form-control"></textarea>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-primary">Create category</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                               
                                                <!-- <th>ID</th> -->
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Status</th>
                                                <th class="text-end">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%if(categoryData.length>0){
                                                categoryData.forEach((item)=>{%>
                                            <tr>
                                                <!-- <td>21</td> -->
                                                <td><b><%= item.categoryName %></b></td>
                                                <td><%= item.description %></td>
                                                <%if(item.list === false){%>
                                                <td><span class="badge rounded-pill alert-danger">Unlisted</span></td>
                                                <%}else{%>
                                                    <td><span class="badge rounded-pill alert-success">listed</span></td>
                                                    <%}%>
                                                <td class="text-end">
                                                    <div class="dropdown">
                                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Edit info</a>
                                                            <a class="dropdown-item text-success" href="" onclick="list('<%=item._id%>')">List</a>
                                                            
                                                            <a class="dropdown-item text-danger" href="" onClick="unlist('<%=item._id%>')">Unlist</a>
                                                        </div>
                                                    </div>
                                                    <!-- dropdown //end -->
                                                </td>
                                            </tr>
                                        <%})
                                            }%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
                <!-- card .// -->
            </section>
            <!-- content-main end// -->
        </main>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            async function unlist(categoryId){
                try {
                    await axios.put(`/admin/unlist/${categoryId}`);
                } catch (error) {
                    console.log(error.message);
                }
            }

            async function list(categoryId){
                try {
                    await axios.put(`/admin/list/${categoryId}`);
                } catch (error) {
                    console.log(error.message);
                }
            }
        </script>
    </body>
</html>
