<%-include('../layout/adminHeader')-%>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Coupons</h2>
                    </div>
                    <div>
                        <!-- <a href="#" class="btn btn-light rounded font-md">Export</a> -->
                        <!-- <a href="#" class="btn btn-light rounded font-md">Import</a> -->
                        <a href="/admin/addCoupon" class="btn btn-primary btn-sm rounded">Create new</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <!-- <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Show 20</option>
                                    <option>Show 30</option>
                                    <option>Show 40</option>
                                </select>
                            </div>
                        </div>
                    </header> -->
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Min Amount</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% couponData.forEach(element => { %>
                                    <tr>
                                        <td><%= element.couponCode %></td>
                                        <td><b><%= element.couponName %></b></td>
                                        <td><%= element.discountAmount %></td>
                                        <td>₹<%= parseFloat(element.minAmount).toFixed(2) %></td>
                                        <% if (element.expiryDate < Date.now()) { %>
                                            <td><span class="badge rounded-pill alert-danger">Expired</span></td>
                                        <% }else{%>
                                            <td><span class="badge rounded-pill alert-success">Active</span></td>
                                        <% } %>
                                        <td></td>
                                        <td class="text-end">
                                            <a href="#" onclick="deleteCoupon('<%=element._id%>', this)" class="btn btn-danger rounded font-sm">Delete</a>
                                        </td>
                                    </tr>
                                    <% }) %>
                                    
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
            </section>
            <!-- content-main end// -->
        </main>
        <script>
            const couponData = <%-JSON.stringify(couponData)%>;
            const couponDateArray =  couponData.map(coupon => coupon.expiryDate);
            function formatDate(dateString){
                const date = new Date(dateString);
                return `${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}`;
            }
                document.querySelectorAll('tbody tr').forEach((row, index) => {
        const dateCell = row.querySelector('td:nth-child(6)');
        const formattedDate = formatDate(couponDateArray[index]);
        dateCell.textContent = formattedDate;
    });

    function deleteCoupon(couponId, deleteBtn){
        Swal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, delete it!',
    customClass: {
      confirmButton: 'btn btn-danger me-1',
      cancelButton: 'btn btn-label-secondary'
    },
    buttonsStyling: false
  }).then(function(result) {
    if (result.value) {
        fetch('/admin/deleteCoupon',{
            method: 'DELETE',
            body: JSON.stringify({couponId}),
            headers:{
                "Content-Type":"application/json"
            }
        })
        .then(response =>{
            return response.json();
        })
        .then(data =>  $(deleteBtn).closest('tr').remove())
        .catch(error => console.log(error));
      Swal.fire({
        icon: 'success',
        title: 'Deleted!',
        text: 'Your file has been deleted.',
        customClass: {
          confirmButton: 'btn btn-success'
        }
      });
    }
  });
        
    }
        </script>
        
        <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/admin/assets/js/vendors/select2.min.js"></script>
        <script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/admin/assets/js/main.js?v=1.1" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    </body>
</html>
