<%-include('../layout/adminHeader')-%>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Customers</th>
                                        <th>Email</th>
                                        <th>Registered</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%if(users.length>0){
                                        users.forEach((item)=>{ %>
                                    <tr>
                                        <td width="25%">
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title"><%= item.username %></h6>
                                                </div>
                                        </td>
                                        <td><%= item.email %></td>
                                        <td><%= item.createDate %></td>
                                      
                                           
                                                    <td class="text-end">
                                                        <a href="" onclick="event.preventDefault();blockUser('<%=item._id%>',this)" class="btn btn-sm alert-danger rounded font-sm ">Block</a>
                                                   </td>
                                            
                                       
                                    </tr>
                                    <%})
                                }else{%>

                                <%}%>
                                    
                                </tbody>
                            </table>
                            <!-- table-responsive.// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                
            </section>
            <!-- content-main end// -->
            
        </main>
        <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/admin/assets/js/vendors/select2.min.js"></script>
        <script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/admin/assets/js/main.js?v=1.1" type="text/javascript"></script>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            function blockUser(userId, buttonElement) {
  fetch(`/admin/${userId}/block`, {
    method: "PUT",
    headers: {
      'Content-Type': 'application/json'
    }
  })
  .then(response => response.json()) 
  .then(data => {
    if (data.isBlock === true) {
      buttonElement.textContent = 'Unblock';
      buttonElement.classList.remove('alert-danger');
      buttonElement.classList.add('alert-success');
    } else {
      buttonElement.textContent = 'Block';
      buttonElement.classList.remove('alert-success');
      buttonElement.classList.add('alert-danger');
    }
  })
  .catch(error => console.error(error.message)); // Handle errors gracefully
}

const button = document.getElementById('blockUserButton');
        </script>
    </body>
</html>
