<%-include('../layout/adminHeader')-%>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Customers</th>
                                        <th>Email</th>
                                        <th>Registered</th>
                                        <th>Status</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%if(users.length>0){
                                        users.forEach((item)=>{ %>
                                    <tr>
                                        <td width="25%">
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title"><%= item.username %></h6>
                                                </div>
                                        </td>
                                        <td><%= item.email %></td>
                                        <td><%= item.createDate %></td>
                                        <% if(item.isBlock === true){%>
                                            <td width="10%"><span class="badge rounded-pill alert-danger">Blocked</span></td>
                                            <%}else{%>
                                                <td width="10%"><span class="badge rounded-pill alert-success">Not blocked</span></td>
                                                <%}%>
                                        <td class="text-end">
                                            <a href="" onclick="blockUser('<%=item._id%>')" class="btn btn-sm alert-danger rounded font-sm ">Block</a>
                                        </td>
                                        <td class="text-end">
                                            <a href="" onclick="unblockUser('<%=item._id%>')" class="btn btn-sm alert-success rounded font-sm ">Unblock</a>
                                        </td>
                                    </tr>
                                    <%})
                                }else{%>

                                <%}%>
                                    
                                </tbody>
                            </table>
                            <!-- table-responsive.// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <!-- <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div> -->
            </section>
            <!-- content-main end// -->
            
        </main>
        <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/admin/assets/js/vendors/select2.min.js"></script>
        <script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/admin/assets/js/main.js?v=1.1" type="text/javascript"></script>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            async function blockUser(userId){
                try {
                    await axios.put(`/admin/${userId}/block`);
                } catch (error) {
                    console.log(error.message);
                }
            }

            async function unblockUser(userId){
                try {
                    await axios.put(`/admin/${userId}/unblock`);
                } catch (error) {
                    console.log(error.message);
                }
            }
        </script>
    </body>
</html>
