<%-include('../layout/adminHeader')-%>
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Edit Product</h2>
                </div>
                <% if(typeof successMsg !='undefined' ){ %>
                    <p class="text-center text-success mb-5" id="text-danger">
                        <%= successMsg %>
                    </p>
                    <% } %>
                        <% if(typeof warningMsg !='undefined'){ %>
                            <p class="text-center text-danger  mb-5" id="text-danger">
                                <%= warningMsg %>
                            </p>
                            <% } %>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <form method="post" action="/admin/editProduct/<%=product._id%>"
                            enctype="multipart/form-data" id="uploadForm">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product title</label>
                                <input required type="text" value="<%=product.productName%>" name="productName"
                                    class="form-control" id="product_name" />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea name="description" class="form-control"
                                    rows="4"><%=product.description%></textarea>
                            </div>
                            <div class="row d-flex ">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Price</label>
                                        <div class="row gx-2">
                                            <input required value="<%=product.price%>" name="price" type="text"
                                                class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Quantity</label>
                                        <div class="row gx-2">
                                            <input required value="<%=product.quantity%>" name="quantity" type="text"
                                                class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mt-0">
                                        <label class="form-label">Category</label>
                                        <select name="category" class="form-select">
                                            <% if (categoryData.length> 0) {
                                                categoryData.forEach((item) => { %>
                                                <option value="<%= item.categoryName %>" <% if
                                                    (item.categoryName===product.category) { %> selected <% } %>><%=
                                                            item.categoryName %>
                                                </option>
                                                <% }) } else { %>
                                                    <option></option>
                                                    <% } %>
                                        </select>
                                    </div>
                                </div>
                                
                            </div>

                    </div>
                </div>
                <!-- card end// -->

            </div>

            
            <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h5>Add image</h5>
                            </div>
                            <div class="card-body">
                                <div class="input-upload">
                                    <img src="/admin/assets/imgs/theme/upload.svg" alt="" />
                                    <input class="form-control" name="images" type="file" accept="image/*"/>
                                </div>
                            </div>
                        </div>
                    </div>
            


            <div class="row">
                <%product.imagePaths.forEach((item)=>{%>
                <div class="col-3">
                    <div class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="/<%=item%>" alt="Product" /> </a>
                        <a href="" onclick="deleteImage('<%=item%>')" class="btn justify-content-center btn-sm font-sm btn-light rounded"> <i
                                class="material-icons md-delete_forever"></i> Delete </a>
                    </div>
                </div>
                <%})%>
            </div>
            
            <div class=" ">
                <button class="btn btn-md rounded font-sm hover-up">Edit Product</button>
            </div>
            </form>
        </div>
    </section>
   

    </main>
    <script>
        document.getElementById('uploadForm').addEventListener('submit', function (event) {
            var input = document.getElementById('imageUpload');
            // Check if the number of files selected is more than 4
            if (input.files.length > 4) {
                alert('Please select up to 4 images only.');
                event.preventDefault(); // Prevent form submission
            }
        });

        async function addImage(productId){
            try {
                await axios.put(`/admin/addImage/${productId}`);
            } catch (error) {
                console.log(error.message);
            }
        }

        async function deleteImage(imagePath){
            try {
                await axios.delete(`/admin/deleteImage/${imagePath}`);
            } catch (error) {
                console.log(error.message);
            }
        }
    </script>
    <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/js/vendors/select2.min.js"></script>
    <script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Main Script -->
    <script src="/admin/assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>

    </html>