<%-include('../layout/adminHeader')-%>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Offers</h2>
                    </div>
                    <div>
                        <!-- <a href="#" class="btn btn-light rounded font-md">Export</a> -->
                        <!-- <a href="#" class="btn btn-light rounded font-md">Import</a> -->
                        <a href="/admin/addOffer" class="btn btn-primary btn-sm rounded">Create new</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <!-- <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Show 20</option>
                                    <option>Show 30</option>
                                    <option>Show 40</option>
                                </select>
                            </div>
                        </div>
                    </header> -->
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>   
                                        <th scope="col">Name</th>
                                        <th scope="col">Percentage</th>
                                        <th scope="col">Offer</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% offerData.forEach((element, index) => { %>
                                    <tr>
                                        <td><%= index + 1 %></td>
                                        <td><b><%= element.offerName %></b></td>
                                        <td class=""><%= element.percentage %>%</td>
                                        <td><%= element.offerType%></td>
                                        <td><span class="badge rounded-pill alert-success">Active</span></td>
                                        <td></td>
                                        <td class="text-end">
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="/admin/editOffer/<%=element._id%>">Edit info</a>
                                                    
                                                    <a class="dropdown-item text-danger" href="" onclick="deleteOffer('<%=element._id%>')">Delete</a>
                                                </div>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <% }) %>
                                    
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
            </section>
            <!-- content-main end// -->
        </main>
        <script>
            const offerData = <%-JSON.stringify(offerData)%>;
            const offerDataArray =  offerData.map(offer => offer.expiryDate);
            function formatDate(dateString){
                const date = new Date(dateString);
                return `${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}`;
            }
                document.querySelectorAll('tbody tr').forEach((row, index) => {
        const dateCell = row.querySelector('td:nth-child(6)');
        const formattedDate = formatDate(offerDataArray[index]);
        dateCell.textContent = formattedDate;
    });

    function deleteOffer(offerId, deleteBtn){
        Swal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, delete it!',
    customClass: {
      confirmButton: 'btn btn-danger me-1',
      cancelButton: 'btn btn-label-secondary'
    },
    buttonsStyling: false
  }).then(function(result) {
    if (result.value) {
        fetch('/admin/deleteOffer',{
            method: 'DELETE',
            body: JSON.stringify({couponId}),
            headers:{
                "Content-Type":"application/json"
            }
        })
        .then(response =>{
            return response.json();
        })
        .then(data =>  $(deleteBtn).closest('tr').remove())
        .catch(error => console.log(error));
      Swal.fire({
        icon: 'success',
        title: 'Deleted!',
        text: 'Your file has been deleted.',
        customClass: {
          confirmButton: 'btn btn-success'
        }
      });
    }
  });
        
    }
        </script>
        
        <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/admin/assets/js/vendors/select2.min.js"></script>
        <script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/admin/assets/js/main.js?v=1.1" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    </body>
</html>
