<%-include('../layout/adminHeader')-%>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Products List</h2>
            </div>
            <div>
                <!-- <a href="#" class="btn btn-light rounded font-md">Export</a> -->
                <!-- <a href="#" class="btn btn-light rounded font-md">Import</a> -->
                <a href="/admin/addProduct" class="btn btn-primary btn-sm rounded">Create new</a>
            </div>
        </div>
        <div class="card mb-4">

            <div class="card-body">
                <%if(products.length>0){
                    products.forEach((item, index)=>{%>

                    <article class="itemlist">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                <a class="itemside" href="/admin/editProduct/<%=item._id%>">
                                    <div class="left">
                                        <img src='../<%=item.imagePaths[0]%>' class="img-sm img-thumbnail" alt="Item" />
                                    </div>
                                    <div class="info">
                                        <h6 class="mb-0">
                                            <%=item.productName%>
                                        </h6>
                                    </div>
                                </a>
                            </div>


                            <div class="col-lg-2 col-sm-2 col-4 col-price"><span>
                                    <%= item.price%>
                                </span></div>
                            <div class="col-lg-1 col-sm-2 col-4 col-date">
                                <span>
                                    <%= item.category%>
                                </span>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-status">
                                <%if (item.quantity===0) {%>
                                    <span class="badge rounded-pill alert-danger">Out of stock</span>
                                    <%} else {%>
                                        <span class="badge rounded-pill alert-success">In Stock</span>
                                        <%}%>

                                            <% var flag=0%>
                                            <%category.forEach((element)=>{%>
                                        <%if (item.category === element.categoryName) {%>
                                        <span class="badge rounded-pill alert-danger mt-1 ">unlisted</span>
                                        <% flag = 1%>
                                            <%}%>
                                            <%})%> 
                                            <%if (flag === 0) {%>
                                                <span class="badge rounded-pill alert-success mt-1 ">listed</span>
                                                <%}%>


                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                <a href="" onclick="list('<%=item._id%>')"
                                    class="btn btn-sm font-sm rounded btn-brand "> List</a>
                                <a href="" onclick="unlist('<%=item._id%>')"
                                    class="btn btn-sm font-sm rounded btn-light  "> Unlist </a>
                                <a href="" onclick="deleteProduct('<%=item._id%>')" class="btn btn-sm mt-2 font-sm btn-danger rounded"
                                    > <i class="material-icons md-delete_forever"></i> Delete </a>
                            </div>
                        </div>

                    </article>

                    
                    <%}) }%>


            </div>

        </div>


    </section>

    </div>
    </main>
    <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/js/vendors/select2.min.js"></script>
    <script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin/assets/js/main.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function list(productId) {
            try {
                await axios.put(`/admin/products/list/${productId}`);
            } catch (error) {
                console.log(error.message);
            }

        };

        async function unlist(productId) {
            try {
                await axios.put(`/admin/products/unlist/${productId}`);
            } catch (error) {
                console.log(error.message);
            }
        };

        async function deleteProduct(productId) {
            try {
                await axios.delete(`/admin/products/delete/${productId}`);
            } catch (error) {
                console.log(error.message);
            }
        }
    </script>
    </body>

    </html>