<%-include('../layout/header')-%>
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" /></head>

    <!-- modal styling -->
    <style>
        body {
            font-family: 'Varela Round', sans-serif;
        }

        .modal-confirm {
            color: #636363;
            width: 400px;
        }

        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 14px;
        }

        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -10px;
        }

        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -2px;
        }

        .modal-confirm .modal-body {
            color: #999;
        }

        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
            padding: 10px 15px 25px;
        }

        .modal-confirm .modal-footer a {
            color: #999;
        }

        .modal-confirm .icon-box {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            border-radius: 50%;
            z-index: 9;
            text-align: center;
            border: 3px solid #f15e5e;
        }

        .modal-confirm .icon-box i {
            color: #f15e5e;
            font-size: 46px;
            display: inline-block;
            margin-top: 13px;
        }

        .modal-confirm .btn,
        .modal-confirm .btn:active {
            color: #fff;
            border-radius: 4px;
            background: #60c7c1;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            min-width: 120px;
            border: none;
            min-height: 40px;
            border-radius: 3px;
            margin: 0 5px;
        }

        .modal-confirm .btn-secondary {
            background: #c1c1c1;
        }

        .modal-confirm .btn-secondary:hover,
        .modal-confirm .btn-secondary:focus {
            background: #a8a8a8;
        }

        .modal-confirm .btn-danger {
            background: #f15e5e;
        }

        .modal-confirm .btn-danger:hover,
        .modal-confirm .btn-danger:focus {
            background: #ee3535;
        }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }

        .p-xl {
            padding: 40px;
        }

        .lazur-bg {
            background-color: #23c6c8;
            color: #ffffff;
        }

        .red-bg {
            background-color: #ed5565;
            color: #ffffff;
        }

        .navy-bg {
            background-color: #1ab394;
            color: #ffffff;
        }

        .yellow-bg {
            background-color: #f8ac59;
            color: #ffffff;
        }

        .widget {
            border-radius: 5px;
            padding: 15px 20px;
            margin-bottom: 10px;
            margin-top: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
        }

        .widget h2,
        .widget h3 {
            margin-top: 5px;
            margin-bottom: 0;
            border-bottom: 1px dotted white;
        }

        .m-t-md {
            margin-top: 20px;
        }

        .arrow-icon {
            color: #087f06;
            /* Or any other color you prefer */
        }
    </style>

    

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
      <form action="/editProfile/<%= userData._id %>" method="post">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Edit info</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">

      <div class="md-form mb-2">
          <label data-error="wrong" data-success="right" for="defaultForm-email">Full Name</label>
        <input type="text" name="name" value="<%= userData.username %>" class="form-control validate">
      </div>

      <div class="md-form mb-4">
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Your Mobile</label>
        <input type="tel" name="mobile"  value="<%= userData.mobile %>" class="form-control validate">
      </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="submit"  class="btn btn-default">Update</button>
    </div>
  </form>
  </div>
</div>
</div>


    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title w-100">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to logout this account?</p>
                </div>
                <div class="modal-footer text-center justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="/logout" class="btn btn-danger text-light">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Transaction Table Modal -->
    <div class="modal fade" id="transactionTableModal" tabindex="-1" role="dialog"
        aria-labelledby="transactionTableModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="transactionTableModalLabel">Transaction Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="pl-3">Activity</th>
                                <th scope="col">Date</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% transactionData.forEach(element=> { %>
                                <tr>
                                    <td class="pl-3">
                                        <%= element.description %>
                                    </td>
                                    <td id="transactionDate"> <%= element.date %></td>
                                    <td>₹<%= parseFloat(element.amount).toFixed(2) %>
                                    </td>
                                    <% if (element.status==="in" ) { %>
                                        <td class="text-success text-end">&nbsp;&nbsp; &nbsp;&nbsp;<i class="fa-solid fa-arrow-left"
                                                style="color: #0ae806;"></i>
                                            <% } else if (element.status==="Out" ) { %>
                                        <td class="text-danger text-end">&nbsp;&nbsp; &nbsp;&nbsp; <i class="fa-solid fa-arrow-left fa-rotate-180"
                                                style="color: #e71902;"></i></td>
                                        <% } %>
                                </tr>
                                <% }) %>

                                    <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>






    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">My Account<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Account</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                        href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                        aria-selected="true">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
                                        role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                        role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                        role="tab" aria-controls="tab-account" aria-selected="false">Coupons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link" data-toggle="modal" href="#myModal"
                                        role="tab" aria-controls="tab-account" aria-selected="false">Logout</a>
                                </li>
                            </ul>
                        </aside><!-- End .col-lg-3 -->

                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                    aria-labelledby="tab-dashboard-link">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">Your Profile</h3>
                                                    <!-- End .card-title -->
                                                    <p class="text-primary h6">
                                                        <%= userData.username%>
                                                    </p>
                                                    <p class="h6">
                                                        <%= userData.email%>
                                                    </p>
                                                    <p class="h6">
                                                        <%= userData.mobile%>
                                                    </p>
                                                    <a class="btn btn-outline-primary-2 " data-toggle="modal"
                                                        href="#modalLoginForm">Edit profile</a>
                                                </div><!-- End .card-body -->
                                                <div class="card-body">
                                                    <h3 class="card-title">Referal Link</h3>
                                                    <!-- End .card-title -->
                                                    <p class="text-primary">
                                                        <%= `http://localhost:3000/signup?id=${userData.referalId}` %>
                                                    </p>
                                                    <input type="text" value="<%= `http://localhost:3000/signup?id=${userData.referalId}` %>" id="urlInput" hidden>
                                                    <button class="btn btn-outline-primary-2" onclick="copyURL()">Copy</button>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div><!-- End .col-lg-6 -->
                                        <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h2 class="card-title">Wallet</h2>
                                                    <!-- End .card-title -->
                                                    <p class="text-primary h6">
                                                        ₹<%= parseFloat(userData.wallet).toFixed(2) %>
                                                    </p>

                                                    <a class="btn btn-outline-primary-2 " data-toggle="modal"
                                                        href="#transactionTableModal">Transaction History</a>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div><!-- End .col-lg-6 -->
                                    </div><!-- End .row -->


                                </div>

                                <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                                    aria-labelledby="tab-orders-link">
                                    <% if(orderData.length !==0){%>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-9">
                                                    <table class="table table-cart table-mobile">
                                                        <thead>
                                                            <tr>
                                                                <th>Product</th>
                                                                <th>Items</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>

                                                            <% orderData.forEach((order, index)=>{ %>
                                                                <tr>
                                                                    <td class="product-col">
                                                                        <div class="product">
                                                                            <figure class="product-media">
                                                                                <a href="/orderDetails/<%=order._id%>">
                                                                                    <img src="/<%=order.products[0].productId.imagePaths[0]%>"
                                                                                        alt="Product image">
                                                                                </a>
                                                                            </figure>

                                                                            <h3 class="product-title">
                                                                                <a href="/orderDetails/<%=order._id%>">
                                                                                    <%=order.products[0].productId.productName%>
                                                                                </a>
                                                                            </h3><!-- End .product-title -->
                                                                        </div><!-- End .product -->
                                                                    </td>
                                                                    <td class="price-col">
                                                                        <%=order.products.length%> Item
                                                                    </td>
                                                                    <td class="price-col">₹
                                                                        <%=parseFloat(order.subTotal).toFixed(2)%>
                                                                    </td>

                                                                </tr>
                                                                <%})%>
                                                        </tbody>
                                                    </table><!-- End .table table-wishlist -->


                                                </div><!-- End .col-lg-9 -->

                                            </div><!-- End .row -->
                                        </div><!-- End .container -->
                                        <% }else{%>
                                            <p>No order has been made yet.</p>
                                            <a href="/allProducts" class="btn btn-outline-primary-2"><span>GO
                                                    SHOP</span><i class="icon-long-arrow-right"></i></a>
                                            <% } %>
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-downloads" role="tabpanel"
                                    aria-labelledby="tab-downloads-link">
                                    <p>No downloads available yet.</p>
                                    <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                    aria-labelledby="tab-address-link">
                                    <p>The following addresses will be used on the checkout page by default.</p>

                                    <div class="row">
                                        <% if(addressData.length> 0){
                                            addressData.forEach(data=>{ %>
                                            <div id="deleteAddress" class="modal fade">
                                                <div class="modal-dialog modal-confirm">
                                                    <div class="modal-content">
                                                        <div class="modal-header flex-column">
                                                            <div class="icon-box">
                                                                <i class="material-icons">&#xE5CD;</i>
                                                            </div>
                                                            <h4 class="modal-title w-100">Are you sure?</h4>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Do you really want to delete this address?</p>
                                                        </div>
                                                        <div class="modal-footer text-center justify-content-center">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Cancel</button>
                                                            <a href="/deleteAddress/<%= data._id%>"
                                                                class="btn btn-danger text-light">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="card card-dashboard">
                                                    <div class="card-body">
                                                        <h3 class="card-title">Address</h3>
                                                        <!-- End .card-title -->
                                                        <p>
                                                            <%= data.name%> <br>
                                                                <%= data.address%><br>
                                                                    <%= data.landmark%><br>
                                                                        <%= data.city%><br>
                                                                            <%= data.pincode%><br>
                                                                                <%= data.email%><br>
                                                                                    <%= data.mobile%><br>
                                                                                        <a
                                                                                            href="/editAddress/<%= data._id%>">Edit
                                                                                            <i
                                                                                                class="icon-edit"></i></a>
                                                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                                        <a href="#deleteAddress"
                                                                                            data-toggle="modal"
                                                                                            class="text-danger ">Delete</a>
                                                        </p>
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .card-dashboard -->
                                            </div><!-- End .col-lg-6 -->
                                            <% }) }%>
                                                <% if(addressData.length<3){%>
                                                    <div class="col-sm-12">
                                                        <a class="btn btn-outline-primary-2" href="/addAddress">Add
                                                            Address</a>
                                                    </div>
                                                    <%}%>
                                    </div><!-- End .row -->
                                </div><!-- .End .tab-pane -->


                                <div class="tab-pane fade" id="tab-account" role="tabpanel"
                                    aria-labelledby="tab-account-link">
                                    <form action="#">
                                        <div class="row">
                                            <div class="container bootstrap snippets bootdey">

                                                <div class="row">
                                                    <%if (couponData.length>0) {
                                                        couponData.forEach(element=>{%>

                                                        <div class="col-md-4">
                                                            <div class="widget bg-primary-1 p-xl">
                                                                <h2>
                                                                    <%=element.couponName%>
                                                                </h2>
                                                                <ul class="list-unstyled m-t-md">
                                                                    <li>
                                                                        <p>
                                                                            <%=element.description%>
                                                                        </p>
                                                                    </li>
                                                                    <li>
                                                                        <label>Coupon Code:</label>
                                                                        <%=element.couponCode%>
                                                                    </li>
                                                                    <li>
                                                                        <label>Discount:</label>
                                                                        ₹<%=element.discountAmount%>
                                                                    </li>
                                                                    <li>
                                                                        <label>Minimum Purchase:</label>
                                                                        ₹<%=element.minAmount%>
                                                                    </li>
                                                                    <li>
                                                                        <label>Expiry:</label>
                                                                        <span class="expiry-date">
                                                                            <%=element.expiryDate%>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <%}) }%>
                                                </div>
                                            </div>
                                        </div><!-- End .row -->
                                </div><!-- End .container -->
                            </div><!-- End .dashboard -->
                        </div><!-- End .page-content -->
    </main><!-- End .main -->

    


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    


    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function copyURL(url) {
            var copyText = document.getElementById("urlInput");

copyText.select();
copyText.setSelectionRange(0, 99999); 

navigator.clipboard.writeText(copyText.value);
Swal.fire({
    icon: 'success',
    title: 'Referal link copied',
    showConfirmButton: false,
    timer: 600,
    customClass: {
        confirmButton: 'btn btn-primary'
    },
    buttonsStyling: false
})
}    
    </script>
    <script>
        var expiryDates = document.querySelectorAll('.expiry-date');
        expiryDates.forEach(function (element) {
            var dateString = element.textContent;
            var truncatedDateString = dateString.split(' ').slice(0, 4).join(' ');
            element.textContent = truncatedDateString;
        });
        const formattedDate = <% -JSON.stringify(userData) %>;
        var transactionDates = document.getElementById('transactionDate');
        formattedDate.forEach(function (element) {
            var dateString = element.textContent;
            var truncatedDateString = dateString.split(' ').slice(0, 4).join(' ');
            element.textContent = truncatedDateString;
        });

        
    </script>




    </body>


    </html>