<%-include('../layout/header')-%>

    <!-- modal styling -->
    <style>
        body {
            font-family: 'Varela Round', sans-serif;
        }

        .modal-confirm {
            color: #636363;
            width: 400px;
        }

        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 14px;
        }

        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -10px;
        }

        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -2px;
        }

        .modal-confirm .modal-body {
            color: #999;
        }

        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
            padding: 10px 15px 25px;
        }

        .modal-confirm .modal-footer a {
            color: #999;
        }

        .modal-confirm .icon-box {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            border-radius: 50%;
            z-index: 9;
            text-align: center;
            border: 3px solid #f15e5e;
        }

        .modal-confirm .icon-box i {
            color: #f15e5e;
            font-size: 46px;
            display: inline-block;
            margin-top: 13px;
        }

        .modal-confirm .btn,
        .modal-confirm .btn:active {
            color: #fff;
            border-radius: 4px;
            background: #60c7c1;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            min-width: 120px;
            border: none;
            min-height: 40px;
            border-radius: 3px;
            margin: 0 5px;
        }

        .modal-confirm .btn-secondary {
            background: #c1c1c1;
        }

        .modal-confirm .btn-secondary:hover,
        .modal-confirm .btn-secondary:focus {
            background: #a8a8a8;
        }

        .modal-confirm .btn-danger {
            background: #f15e5e;
        }

        .modal-confirm .btn-danger:hover,
        .modal-confirm .btn-danger:focus {
            background: #ee3535;
        }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
    </style>

    <main class="main">
        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-9">
                            <h2 class="text-primary mt-2">Add address</h2>
                            <div class="tab-content">
                                <div class="">
                                    <form action="#" method="post">
                                        <label>Full Name</label>
                                        <% if (typeof nameMsg !== 'undefined') {%>
                                            <small class="text-danger mt-0 "><%= nameMsg %></small>
                                            <%} %>
                                        <input type="text" name="name" class="form-control" required>

                                        <label>Address</label>
                                        <% if (typeof addressMsg !== 'undefined') {%>
                                            <small class="text-danger mt-0 "><%= addressMsg %></small>
                                            <%} %>
                                        <textarea name="address" class="form-control" rows="3" required></textarea>

                                        <label>Landmark</label>
                                        <% if (typeof landmarkMsg !== 'undefined') {%>
                                            <small class="text-danger mt-0 "><%= landmarkMsg %></small>
                                            <%} %>
                                        <input type="text" name="landmark" class="form-control" required>

                                        <label>City</label>
                                        <% if (typeof cityMsg !== 'undefined') {%>
                                            <small class="text-danger mt-0 "><%= cityMsg %></small>
                                            <%} %>
                                        <input type="text" name="city" class="form-control" required>

                                        <label>Pincode</label>
                                        <% if (typeof pincodeMsg !== 'undefined') {%>
                                            <small class="text-danger mt-0 "><%= pincodeMsg %></small>
                                            <%} %>
                                        <input type="tel" name="pincode" class="form-control" required>

                                        <label>Email address</label>
                                        <% if (typeof emailMsg !== 'undefined') {%>
                                            <small class="text-danger mt-0 "><%= emailMsg %></small>
                                            <%} %>
                                        <input type="email" name="email" class="form-control" required>

                                        <label>Mobile</label>
                                        <% if (typeof mobileMsg !== 'undefined') {%>
                                            <small class="text-danger mt-0 "><%= mobileMsg %></small>
                                            <%} %>
                                        <input type="tel" name="mobile" class="form-control" required>

                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SAVE ADDRESS</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </form>
                                </div><!-- .End .tab-pane -->
                            </div>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    

    
    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    </body>


    <!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->

    </html>