<%-include('../layout/header')-%>
<main class="main">
    <div class="page-header text-center" style="background-image: url('/user/assets/images/page-header-bg.jpg')">
        <div class="container-fluid">
            <h1 class="page-title">All Products<span>Shop</span></h1>
        </div><!-- End .container-fluid -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item"><a href="#">All Products</a></li>
                <!-- <li class="breadcrumb-item active" aria-current="page">Fullwidth</li> -->
            </ol>
        </div><!-- End .container-fluid -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container-fluid">
            <div class="toolbox">
                <div class="toolbox-left">
                    <a href="#" class="sidebar-toggler"><i class="icon-bars"></i>Filters</a>
                </div><!-- End .toolbox-left -->

                <div class="toolbox-center">
                    <div class="toolbox-info">
                        Showing <span><%= products.length %> of <%= products.length %></span> Products
                    </div><!-- End .toolbox-info -->
                </div><!-- End .toolbox-center -->

                <div class="toolbox-right">
                    <div class="toolbox-sort">
                        <label for="sortby">Sort by:</label>
                        <div class="select-custom">
                            <select name="sortby" id="sortby" class="form-control">
                                <option value="allProducts">All Products</option>
                                <option value="newArrivals">New Arrivals</option>
                                <option value="lowToHigh">Low to High</option>
                                <option value="highToLow">High to Low</option>
                                <option value="aToZ">A to Z</option>
                                <option value="zToA">Z to A</option>
                            </select>
                        </div>
                    </div><!-- End .toolbox-sort -->
                </div><!-- End .toolbox-right -->
            </div><!-- End .toolbox -->

            <div class="products">
                <div class="row">
                    <% products.forEach(element => { %>
                     
                    <div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                        <div class="product">
                            <figure class="product-media">
                                <!-- <span class="product-label label-new">New</span> -->
                                <a href="/product/<%= element._id %>">
                                    <img src="/<%=element.imagePaths[0] %>" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="/addTowishlist/<%=element._id%>"  class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action action-icon">
                                    <a href="/addToCart/<%= element._id %>"  class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#"><%= element.categoryId.categoryName %></a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html"><%= element.productName %></a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    ₹<%= element.price %>
                                </div><!-- End .product-price -->
                                
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                    <% }) %>

                    
                </div><!-- End .row -->

                <div class="load-more-container text-center">
                    <a href="#" class="btn btn-outline-darker btn-load-more">More Products <i class="icon-refresh"></i></a>
                </div><!-- End .load-more-container -->
            </div><!-- End .products -->

            <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
            <aside class="sidebar-shop sidebar-filter">
                <div class="sidebar-filter-wrapper">
                    <div class="widget widget-clean">
                        <label><i class="icon-close"></i>Filters</label>
                        <a href="" onclick="cleanAll()" class="sidebar-filter-clear">Clean All</a>
                    </div><!-- End .widget -->
                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                Category
                            </a>
                        </h3><!-- End .widget-title -->
                         
                        <div class="collapse show" id="widget-1">
                            <div class="widget-body">
                                <div class="filter-items filter-items-count">
                                    <% categoryData.forEach(element => { %>
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="<%= element._id %>" id="<%= element._id %>">
                                            <label class="custom-control-label" for="<%= element._id %>"><%= element.categoryName %></label>
                                        </div><!-- End .custom-checkbox -->
                                        <!-- <span class="item-count">3</span> -->
                                    </div><!-- End .filter-item -->
                                    <% }) %>
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->
                    
                    
                </div><!-- End .sidebar-filter-wrapper -->
            </aside><!-- End .sidebar-filter -->
        </div><!-- End .container-fluid -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
    // window.location.href = '/allProducts';

    document.getElementById('sortby').addEventListener('change', function() {
        var option = this.value;

        if (option === 'allProducts') {
            window.location.href = '/products';
        } else if (option === 'newArrivals') {
            window.location.href = '/products/newArrivals';
        } else if (option === 'lowToHigh') {
            window.location.href = '/products/lowToHigh';
        } else if (option === 'highToLow') {
            window.location.href = '/products/highToLow';
        } else if (option === 'aToZ') {
            window.location.href = '/products/aToZ';
        } else if (option === 'zToA') {
            window.location.href = '/products/zToA';
        }
    });
});
   
        const checkboxes = document.querySelectorAll('.custom-control-input');
    checkboxes.forEach(element =>{
        element.addEventListener('click', function(){
            const selectedCategories = [];
            checkboxes.forEach(element =>{
                if(element.checked){
                    selectedCategories.push(element.value)
                }
            })
            handleSelectedCategories(selectedCategories)
        })
    })

    function handleSelectedCategories(categories){

        fetch('/filterCategory',{
            method: 'POST',
            body: JSON.stringify({categories:categories}),
            headers:{
                'Content-Type':'application/json'
            }
        })
        .then(response => response.json())
        .then(data=>{
            renderProducts(data.products)
        })
        .catch(error=>{
            console.log('Error:',error);
        })
    }

    function renderProducts(products) {
    const container = document.querySelector('.row'); // Assuming the container has class 'row'
    container.innerHTML = ''; // Clear existing products

    products.forEach(element => {
        const productHTML = `
        <div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
            <div class="product">
                <figure class="product-media">
                    <!-- <span class="product-label label-new">New</span> -->
                    <a href="/product/${element._id}">
                        <img src="/${element.imagePaths[0]}" alt="Product image" class="product-image">
                    </a>

                    <div class="product-action-vertical">
                        <a href="" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                    </div><!-- End .product-action -->

                    <div class="product-action action-icon">
                        <a href="/addToCart/${element._id}" class="btn-product btn-cart"><span>add to cart</span></a>
                    </div><!-- End .product-action -->
                </figure><!-- End .product-media -->

                <div class="product-body">
                    <div class="product-cat">
                        <a href="#">${element.categoryId.categoryName}</a>
                    </div><!-- End .product-cat -->
                    <h3 class="product-title"><a href="product.html">${element.productName}</a></h3><!-- End .product-title -->
                    <div class="product-price">
                        ₹${element.price}
                    </div><!-- End .product-price -->
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                        </div><!-- End .ratings -->
                        <span class="ratings-text">( 0 Reviews )</span>
                    </div><!-- End .rating-container -->
                </div><!-- End .product-body -->
            </div><!-- End .product -->
        </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
        `;
        container.insertAdjacentHTML('beforeend', productHTML); // Append product HTML to container
    });
}

function cleanAll(){
    window.location.href = '/allProducts'
}
document.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.getElementById('q');

            searchInput.addEventListener('input', function() {
                searchProducts();
            });

            function searchProducts() {
                const searchValue = searchInput.value.trim().toLowerCase();
                const products = document.querySelectorAll('.product-title');

                let firstMatchedProduct = null;

                products.forEach(product => {
                    const productName = product.textContent.toLowerCase();
                    const productContainer = product.closest('.product');

                    if (productName.includes(searchValue)) {
                        productContainer.style.display = 'block';
                        if (!firstMatchedProduct) {
                            firstMatchedProduct = productContainer;
                        }
                    } else {
                        productContainer.style.display = 'none';
                    }
                });

                if (firstMatchedProduct) {
                    firstMatchedProduct.scrollIntoView({ behavior: 'smooth', block: 'start' });
                }
            }
        });



    </script>
    


<!-- Plugins JS File -->
<script src="/user/assets/js/jquery.min.js"></script>
<script src="/user/assets/js/bootstrap.bundle.min.js"></script>
<script src="/user/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/user/assets/js/jquery.waypoints.min.js"></script>
<script src="/user/assets/js/superfish.min.js"></script>
<script src="/user/assets/js/owl.carousel.min.js"></script>
<script src="/user/assets/js/wNumb.js"></script>
<script src="/user/assets/js/bootstrap-input-spinner.js"></script>
<script src="/user/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/user/assets/js/nouislider.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Main JS File -->
<script src="/user/assets/js/main.js"></script>
</body>


<!-- molla/category-fullwidth.html  22 Nov 2019 10:03:02 GMT -->
</html>