<%-include('../layout/header') %>


    <main class="main">
        <div class="page-header text-center" style="background-image: url('/user/assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Checkout<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="checkout">
                <div class="container">
                    <div class="checkout-discount">
                        <form action="#" method="post">
                            <input type="text" class="form-control" required id="checkout-discount-input">
                            <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here
                                    to enter your code</span></label>
                        </form>
                    </div><!-- End .checkout-discount -->
                    <form action="" method="">
                        <div class="row">
                            <div class="col-lg-9">
                                <% if(address.length < 1){ %>
                                    <h2 class="checkout-title">Please add your Address</h2><!-- End .checkout-title -->
                                    <%}else{ %>
                                        <h2 class="checkout-title">Select your Address here</h2>
                                        <!-- End .checkout-title -->
                                        <% } %>

                                            <% if(address.length> 0){ %>
                                                <div class="col-lg- ">
                                                    <div class="mb-4">
                                                        <select name="address"
                                                            class="form-select btn btn-primary dropdown-toggle"
                                                            style="max-width: 200px;">
                                                            <% address.forEach(element=>{%>
                                                                <option>
                                                                    <%=element.address%>
                                                                </option>
                                                                <% }) %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <%} %>

                                                    <% if(address.length < 3){ %>
                                                        <div class="col-sm-">
                                                            <a class="btn btn-outline-primary-2" href="/addAddress">Add
                                                                Address</a>
                                                        </div>
                                                        <% } %>
                            </div><!-- End .col-lg-9 -->
                            <aside class="col-lg-3">
                                <div class="summary">
                                    <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                    <table class="table table-summary">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% products.forEach(product=> {%>
                                                <tr>
                                                    <td><a href="#">
                                                            <%= product.productName %>
                                                        </a></td>
                                                    <td>₹<%= parseFloat(product.total).toFixed(2) %>
                                                    </td>
                                                    <input type="text" class="productId" name="productId"
                                                        value="<%= product.productId %>" hidden>
                                                    <input type="text" class="quantity" name="quantity"
                                                        value="<%= product.quantity%>" hidden>
                                                    <input type="text" class="total" name="total"
                                                        value="<%= product.total %>" hidden>
                                                </tr>
                                                <% }); %>


                                                    <tr class="summary-subtotal">
                                                        <td>Subtotal:</td>
                                                        <input type="text" class="subTotal" name="subTotal"
                                                            value="<%= subTotal %>" hidden>
                                                        <td>₹<%= parseFloat(subTotal).toFixed(2) %>
                                                        </td>
                                                    </tr><!-- End .summary-subtotal -->
                                                    <tr>
                                                        <td>Shipping:</td>
                                                        <td>Free shipping</td>
                                                    </tr>
                                                    <tr class="summary-total">
                                                        <td>Total:</td>
                                                        <td class="subTotal">₹<%= parseFloat(subTotal).toFixed(2) %>
                                                        </td>
                                                    </tr><!-- End .summary-total -->
                                        </tbody>
                                    </table><!-- End .table table-summary -->

                                    <div class="accordion-summary" id="accordion-payment">
                                        <div class="card">
                                            <div class="card-header" id="heading-1">
                                                <h2 class="mb-0">
                                                    <input type="radio" role="button" data-toggle="collapse"
                                                        data-target="#collapse-1" aria-expanded="true"
                                                        aria-controls="collapse-1" name="payment_method"
                                                        value="razorpay" checked>
                                                    <label for="collapse-1">
                                                        Razorpay
                                                    </label>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
                                                data-parent="#accordion-payment">
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->

                                        <div class="card">
                                            <div class="card-header" id="heading-2">
                                                <h2 class="mb-0">
                                                    <input type="radio" role="button" data-toggle="collapse"
                                                        data-target="#collapse-2" aria-expanded="false"
                                                        aria-controls="collapse-2" name="payment_method" value="wallet">
                                                    <label for="collapse-2">
                                                        Wallet
                                                    </label>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-2" class="collapse" aria-labelledby="heading-2"
                                                data-parent="#accordion-payment">
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
                                        <div class="card">
                                            <div class="card-header" id="heading-3">
                                                <h2 class="mb-0">
                                                    <input type="radio" role="button" data-toggle="collapse"
                                                        data-target="#collapse-3" aria-expanded="false"
                                                        aria-controls="collapse-3" name="payment_method" value="cod">
                                                    <label for="collapse-3">
                                                        Cash on delivery
                                                    </label>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                                data-parent="#accordion-payment">
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
                                    </div><!-- End .accordion -->



                                    <button type="submit"
                                        class="btn btn-outline-primary-2 btn-order btn-block me-1 mb-1"
                                        id="place-order">
                                        <span class="btn-text">Place Order</span>
                                        <span class="btn-hover-text">Proceed to Checkout</span>
                                    </button>
                                </div><!-- End .summary -->
                            </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </form>
                </div><!-- End .container -->
            </div><!-- End .checkout -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>

document.getElementById('place-order').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent the default form submission

    // Gather data
    const selectedValue = document.querySelector('input[name="payment_method"]:checked').value;
    const subTotal = document.querySelector('.subTotal').value;
    const address = document.querySelector('.form-select').value;
    const quantity = document.querySelector('.quantity').value;
    const productId = document.querySelector('.productId').value;
    const total = document.querySelector('.total').value;


    // Prepare the data object to be sent in the request body
    const data = {
        paymentMethod: selectedValue,
        subTotal: subTotal,
        address: address,
        quantity: quantity,
        productId: productId,
        total: total
    };

    // Make a fetch request
    fetch('/checkout', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json(); 
    })
    .then(data => {
        if(paymentMethod === 'razorpay'){
            console.log('Response from backend:', data.key_id);
        var options = { 
    "key": ""+data.key_id+"",  
    "amount": ""+data.amount+"",  
    "currency": "INR",  
    "name": "eStore",  
    "description": "Pay & Checkout this Course, Upgrade your DSA Skill",  
    "image": "/user/icon/estoreLogo.png",  // Merchant logo or image
    "order_id": ""+data.order_id+"",  
    "handler": function (response){ 
        fetch('/verifyOrder',{
            method:'POST',
            headers:{
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                paymentId: response.razorpay_payment_id,
                order_id: response.razorpay_order_id
            })
        })
        console.log(response);
        alert("This step of Payment Succeeded"); },
    "prefill": { 
        "contact": "9876543210",  
        "name": "Twinkle Sharma",   
        "email": "smtwinkle@gmail.com"
    }, 
    "notes" : {
        "description": "description here", 
    },  
    "theme": { 
        "color": "#2300a3"  
    } 
}; 

var razorpayObject = new Razorpay(options);  // Creating a new Razorpay instance
console.log(razorpayObject); 

razorpayObject.on('payment.failed', function (response){ 
    console.log(response); 
    alert("This step of Payment Failed"); 
}); 

razorpayObject.open();
        }
    })
    .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
    });
});



    </script>

    <!-- Plugins JS File -->
    <script src="/user/assets/js/jquery.min.js"></script>
    <script src="/user/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/user/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/user/assets/js/jquery.waypoints.min.js"></script>
    <script src="/user/assets/js/superfish.min.js"></script>
    <script src="/user/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/user/assets/js/main.js"></script>
    <script src="path/to/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </body>


    <!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->

    </html>