<%-include('../layout/header') %>


    <main class="main">
        <div class="page-header text-center" style="background-image: url('/user/assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Checkout<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="checkout">
                <div class="container">
                    <div class="checkout-discount">
                        <form action="" method="post">
                            <p class="text-danger" id="warningMsg"></p>
                            <p class="text-success" id="successMsg"></p>
                            <input type="text" class="form-control" name="couponCode" required
                                id="checkout-discount-input">
                            <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here
                                    to enter your code</span></label>
                            <button type="button" class="btn btn-primary d-none" id="applyCouponButton">Apply</button>
                        </form>
                    </div><!-- End .checkout-discount -->
                    <form action="" method="">
                        <div class="row">
                            <div class="col-lg-9">
                                <% if(address.length < 1){ %>
                                    <input type="text" class="form-select" value="" hidden>
                                    <h2 class="checkout-title">Please add your Address</h2><!-- End .checkout-title -->
                                    <%}else{ %>
                                        <h2 class="checkout-title">Select your Address here</h2>
                                        <!-- End .checkout-title -->
                                        <% } %>

                                            <% if(address.length> 0){ %>
                                                <div class="col-lg- ">
                                                    <div class="mb-4">
                                                        <select name="address"
                                                            class="form-select btn btn-primary dropdown-toggle"
                                                            style="max-width: 200px;">
                                                            <% address.forEach(element=>{%>
                                                                <option>
                                                                    <%=element.address%>
                                                                </option>
                                                                <% }) %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <%} %>

                                                    <% if(address.length < 3){ %>
                                                        <div class="col-sm-">
                                                            <a class="btn btn-outline-primary-2" href="/addAddress">Add
                                                                Address</a>
                                                        </div>
                                                        <% } %>
                            </div><!-- End .col-lg-9 -->
                            <aside class="col-lg-3">
                                <div class="summary">
                                    <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                    <table class="table table-summary">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% products.forEach(product=> {%>
                                                <tr>
                                                    <td><a href="#">
                                                            <%= product.productName %>
                                                        </a></td>
                                                    <td>₹<%= parseFloat(product.total).toFixed(2) %>
                                                    </td>
                                                    <input type="text" class="productId" name="productId"
                                                        value="<%= product.productId %>" hidden>
                                                    <input type="text" class="quantity" name="quantity"
                                                        value="<%= product.quantity%>" hidden>
                                                    <input type="text" class="total" name="total"
                                                        value="<%= product.total %>" hidden>
                                                </tr>
                                                <% }); %>


                                                    <tr class="summary-subtotal">
                                                        <td>Subtotal:</td>
                                                        <input type="text" class="subTotal" name="subTotal"
                                                            value="<%= subTotal %>" hidden>
                                                        <td>₹<%= parseFloat(subTotal).toFixed(2) %>
                                                        </td>
                                                    </tr><!-- End .summary-subtotal -->
                                                    <tr>
                                                        <td>Discount:</td>
                                                        <td class="discount">0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shipping:</td>
                                                        <td>Free shipping</td>
                                                    </tr>
                                                    <tr class="summary-total">
                                                        <td>Total:</td>
                                                        <td class="updatedSubTotal">₹<%= parseFloat(subTotal).toFixed(2)
                                                                %>
                                                        </td>
                                                    </tr><!-- End .summary-total -->
                                        </tbody>
                                    </table><!-- End .table table-summary -->

                                    <div class="accordion-summary" id="accordion-payment">
                                        <div class="card">
                                            <div class="card-header" id="heading-1">
                                                <h2 class="mb-0">
                                                    <input type="radio" role="button" data-toggle="collapse"
                                                        data-target="#collapse-1" aria-expanded="true"
                                                        aria-controls="collapse-1" name="payment_method"
                                                        value="razorpay" checked>
                                                    <label for="collapse-1">
                                                        Razorpay
                                                    </label>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
                                                data-parent="#accordion-payment">
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->

                                        <div class="card">
                                            <div class="card-header" id="heading-2">
                                                <h2 class="mb-0">
                                                    <input type="radio" role="button" data-toggle="collapse"
                                                        data-target="#collapse-2" aria-expanded="false"
                                                        aria-controls="collapse-2" name="payment_method" value="wallet">
                                                    <label for="collapse-2">
                                                        Wallet
                                                    </label>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-2" class="collapse" aria-labelledby="heading-2"
                                                data-parent="#accordion-payment">
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
                                        <div class="card">
                                            <div class="card-header" id="heading-3">
                                                <h2 class="mb-0">
                                                    <input type="radio" role="button" data-toggle="collapse"
                                                        data-target="#collapse-3" aria-expanded="false"
                                                        aria-controls="collapse-3" name="payment_method" value="COD">
                                                    <label for="collapse-3">
                                                        Cash on delivery
                                                    </label>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                                data-parent="#accordion-payment">
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
                                    </div><!-- End .accordion -->



                                    <button type="submit"
                                        class="btn btn-outline-primary-2 btn-order btn-block me-1 mb-1"
                                        id="place-order">
                                        <span class="btn-text">Place Order</span>
                                        <span class="btn-hover-text">Proceed to Checkout</span>
                                    </button>
                                </div><!-- End .summary -->
                            </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </form>
                </div><!-- End .container -->
            </div><!-- End .checkout -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>

        document.getElementById('checkout-discount-input').addEventListener('click', function () {
            document.getElementById('applyCouponButton').classList.remove('d-none');
        });

        document.getElementById('applyCouponButton').addEventListener('click', function () {
            applyCoupon();
        });

        function applyCoupon() {
            const couponCode = document.getElementById('checkout-discount-input').value;
            const subTotal = document.querySelector('.subTotal').value;
            fetch('/couponCheck', {
                method: 'POST',
                body: JSON.stringify({ couponCode, subTotal }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    const warningMsg = document.getElementById('warningMsg');
                    if (data.warningMsg) {
                        warningMsg.innerHTML = data.warningMsg;
                    } else if (data.discount) {
                        const subTotal = document.querySelector('.updatedSubTotal');
                        const discount = document.querySelector('.discount');
                        const successMsg = document.getElementById('successMsg');
                        const applyButton = document.getElementById('applyCouponButton')
                        subTotal.innerHTML = `₹${parseFloat(data.updatedsubTotal).toFixed(2)}`;
                        discount.innerHTML = `${parseFloat(data.discount).toFixed(2)}`;
                        successMsg.innerHTML = 'Coupon applied successfully';
                        warningMsg.innerHTML = '';
                        applyButton.remove()
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }


        document.getElementById('place-order').addEventListener('click', function (event) {
            event.preventDefault();
            const selectedValue = document.querySelector('input[name="payment_method"]:checked').value;
            const subTotal = document.querySelector('.subTotal').value;
            const discount = document.querySelector('.discount').textContent;
            const grandTotal = subTotal - discount;
            const address = document.querySelector('.form-select').value;
            const couponCode = document.getElementById('checkout-discount-input').value;
            if (!address) {
                Swal.fire({
                    title: 'Address not found!',
                    text: 'Please add an address before placing your order.',
                    icon: 'warning',
                    confirmButtonText: 'Add Address'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/addAddress';
                    }
                });
            } else {
                const quantities = document.querySelectorAll('.quantity');
                const productIds = document.querySelectorAll('.productId');
                const totals = document.querySelectorAll('.total');

                const allProductsData = [];

                productIds.forEach((productId, index) => {
                    const quantity = quantities[index].value;
                    const productIdValue = productId.value;
                    const total = totals[index].value;

                    allProductsData.push({
                        quantity: quantity,
                        productId: productIdValue,
                        total: total
                    });
                });



                const data = {
                    paymentMethod: selectedValue,
                    subTotal: grandTotal,
                    address: address,
                    allProductsData: allProductsData,
                    couponCode: couponCode
                };

                // Make a fetch request
                fetch('/checkout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.paymentMethod === 'razorpay') {
                            console.log('Response from backend:', data.key_id);
                            var options = {
                                "key": "" + data.key_id + "",
                                "amount": "" + data.amount + "",
                                "currency": "INR",
                                "name": "eStore",
                                "description": "Pay & Checkout this Course, Upgrade your DSA Skill",
                                "image": "/user/icon/estoreLogo.png",
                                "order_id": "" + data.order_id + "",
                                "handler": function (response) {
                                    fetch('/verifyOrder', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({
                                            paymentId: response.razorpay_payment_id,
                                            order_id: response.razorpay_order_id,
                                            razorpay_signature: response.razorpay_signature,
                                            dbOrder_id: response.dbOrder_id,
                                            couponCode: couponCode
                                        })
                                    })
                                        .then(response => response.json())
                                        .then(data => {
                                            Swal.fire({
                                                icon: 'success',
                                                title: 'Order Placed',
                                                showConfirmButton: false,
                                                timer: 1000,
                                                customClass: {
                                                    confirmButton: 'btn btn-primary'
                                                },
                                                buttonsStyling: false
                                            })
                                            setTimeout(() => {
                                                window.location.href = `/orderDetails/${data.orderId}`
                                            }, 1000)
                                        })
                                    console.log('response', response);
                                },
                                "prefill": {
                                    "contact": "9876543210",
                                    "name": "Twinkle Sharma",
                                    "email": "smtwinkle@gmail.com"
                                },
                                "notes": {
                                    "description": "description here",
                                },
                                "theme": {
                                    "color": "#2300a3"
                                }
                            };

                            var razorpayObject = new Razorpay(options);
                            console.log(razorpayObject);

                            razorpayObject.on('payment.failed', function (response) {
                                console.log(response);
                                Swal.fire({
                                    title: 'Payment faild!',
                                    text: 'Try another payment methode or contact your bank!',
                                    icon: 'error',
                                    customClass: {
                                        confirmButton: 'btn btn-primary'
                                    },
                                    buttonsStyling: false
                                })
                            });

                            razorpayObject.open();
                        } else if (data.paymentMethod === 'COD') {
                            if(data.limitExceeded){
                                return Swal.fire({
                                    title: 'Warning!',
                                    text: 'COD payment limit exceeded! You can only buy up to ₹1000 via COD',
                                    icon: 'warning',
                                    customClass: {
                                        confirmButton: 'btn btn-primary'
                                    },
                                    buttonsStyling: false
                                })
                            }
                            Swal.fire({
                                icon: 'success',
                                title: 'Order Placed',
                                showConfirmButton: false,
                                timer: 1000,
                                customClass: {
                                    confirmButton: 'btn btn-primary'
                                },
                                buttonsStyling: false
                            })
                            setTimeout(() => {
                                window.location.href = `/orderDetails/${data.orderId}`
                            }, 1500)
                        } else if (data.paymentMethod === 'wallet') {
                            if (data.warningMsg) {
                                Swal.fire({
                                    title: 'Sorry!',
                                    text: data.warningMsg,
                                    type: 'warning',
                                    customClass: {
                                        confirmButton: 'btn btn-primary'
                                    },
                                    buttonsStyling: false
                                })
                            } else {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Order Placed',
                                    showConfirmButton: false,
                                    timer: 1000,
                                    customClass: {
                                        confirmButton: 'btn btn-primary'
                                    },
                                    buttonsStyling: false
                                })
                                setTimeout(() => {
                                    window.location.href = `/orderDetails/${data.orderId}`
                                }, 1500)
                            }
                        }
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });
            }
        });

    </script>

    <!-- Plugins JS File -->
    <script src="/user/assets/js/jquery.min.js"></script>
    <script src="/user/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/user/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/user/assets/js/jquery.waypoints.min.js"></script>
    <script src="/user/assets/js/superfish.min.js"></script>
    <script src="/user/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/user/assets/js/main.js"></script>
    <script src="path/to/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </body>


    <!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->

    </html>