<%-include('../layout/header')-%>

        <main class="main">
            <div class="intro-slider-container">
                <div class="intro-slider owl-carousel owl-simple owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav":false, "dots": false, "loop": false}'>
                    <div class="intro-slide" style="background-image: url(user/assets/images/demos/demo-16/slider/slide-1.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle">Want to know what's hot?</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">For Spring In The City</h1><!-- End .intro-title -->

                            <a href="#scroll-to-content" class="btn btn-outline-white scroll-to">
                                <span>Start scrolling</span>
                                <i class="icon-long-arrow-down"></i>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

           
                <div class="pt-7"></div><!-- End .pt-6 -->

                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="icon-box text-center">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-truck"></i>
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                                <p>Free shipping for orders over $50</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-lg-3 col-sm-6 -->

                    <div class="col-lg-3 col-sm-6">
                        <div class="icon-box text-center">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-rotate-left"></i>
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                                <p>Free 100% money back guarantee</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-lg-3 col-sm-6 -->

                    <div class="col-lg-3 col-sm-6">
                        <div class="icon-box text-center">
                            <span class="icon-box-icon text-dark">
                                <i class="la la-unlock"></i>
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Secure Payment</h3><!-- End .icon-box-title -->
                                <p>100% secure payment</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-lg-3 col-sm-6 -->

                    <div class="col-lg-3 col-sm-6">
                        <div class="icon-box text-center">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-headphones"></i>
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                                <p>Alway online feedback 24/7</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-lg-3 col-sm-6 -->
                </div><!-- End .row -->

                

            <div class="bg-lighter pt-6 pb-9">
                <div class="container">
                    <div class="heading text-center">
                        <h2 class="title">Shop The Collection</h2><!-- End .title -->
                        <p class="title-desc">Donec nec justo eget felis facilisis fermentum. <br>Aliquam porttitor mauris sit amet orci..</p><!-- End .title-desc -->
                    </div><!-- End .heading -->
                    <%products.forEach((item)=>{%>
                    <div class="owl-carousel owl-simple" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                        <div class="product product-4">
                            <figure class="product-media">
                                <%imagePathsArray.forEach((image)=>{%>
                                <a href="/product/<%=item._id%>">
                                    <img src="/<%=image[0]%>" alt="Product imagee" class="product-image">
                                    <img src="/<%=image[1]%>" alt="Product image" class="product-image-hover">
                                </a>
                            <%})%>
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#"><%=item.category%></a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html"><%=item.productName%></a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    Rs  <%=item.price%>
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        
                    </div><!-- End .owl-carousel owl-simple -->
                    <%})%>
                </div><!-- End .container -->
            </div><!-- End .bg-lighter pt-5 pb-5 -->

            <!-- <nav  aria-label="Page navigation example">
                <ul class="pagination justify-content-center display-1 ">
                  <li class="page-item ">
                    <a class="page-link " href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only ">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav> -->

            
        <%-include('../layout/footer')-%>