<%-include('../layout/indexHeader')-%>
        <main class="main">
            <div class="intro-slider-container">
                <div class="intro-slider owl-carousel owl-simple owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav":false, "dots": false, "loop": false}'>
                    <div class="intro-slide" style="background-image: url(user/assets/images/demos/demo-16/slider/slide-1.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle">Want to know what's hot?</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">For Spring In The City</h1><!-- End .intro-title -->

                            <a href="#scroll-to-content" class="btn btn-outline-white scroll-to">
                                <span>Start scrolling</span>
                                <i class="icon-long-arrow-down"></i>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

           
                <div class="pt-7"></div><!-- End .pt-6 -->

                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="icon-box text-center">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-truck"></i>
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                                <p>Free shipping for every order</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-lg-3 col-sm-6 -->

                    <div class="col-lg-3 col-sm-6">
                        <div class="icon-box text-center">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-rotate-left"></i>
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                                <p>Free 100% money back guarantee</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-lg-3 col-sm-6 -->

                    <div class="col-lg-3 col-sm-6">
                        <div class="icon-box text-center">
                            <span class="icon-box-icon text-dark">
                                <i class="la la-unlock"></i>
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Secure Payment</h3><!-- End .icon-box-title -->
                                <p>100% secure payment</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-lg-3 col-sm-6 -->

                    <div class="col-lg-3 col-sm-6">
                        <div class="icon-box text-center">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-headphones"></i>
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                                <p>Alway online feedback 24/7</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-lg-3 col-sm-6 -->
                </div><!-- End .row -->

                

                        

            <div class="bg-lighter pt-6 pb-9">
                <div class="container">
                    <div class="heading text-center">
                        <h2 class="title">Shop The Collection</h2><!-- End .title -->
                        <p class="title-desc">Donec nec justo eget felis facilisis fermentum. <br>Aliquam porttitor mauris sit amet orci..</p><!-- End .title-desc -->
                    </div>

                    <div class="owl-carousel owl-simple" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }}'>
                        <%products.forEach((item)=>{%>
                            <div class="product product-4">
                                <figure class="product-media">
                                    <a href="/product/<%=item._id%>">
                                        <img src="<%="/"+ item.imagePaths[0] %>" alt="Product image" class="product-image">
                                        <img src="<%="/"+ item.imagePaths[1] %>"  class="product-image-hover">
                                            
                                    </a>
                                    
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>                        </div><!-- End .product-action -->
            
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->
            
                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#"><%=item.category%></a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="#"><%=item.productName%></a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        Rs  <%=item.price%>
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                            <%})%>>
                    </div><!-- End .owl-carousel owl-simple -->
                </div>
            </div>

        <%-include('../layout/footer')-%>