<%-include('../layout/header')-%> 
    

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item"><a href="/home">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><%=product.productName%></li>
                    </ol>

                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom" src="/<%= product.imagePaths[0] %>" data-zoom-image="/<%= product.imagePaths[0] %>" alt="product image">

                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->

                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <% images.forEach((item)=>{ %>
                                            <a class="product-gallery-item active" href="#" data-image="/<%= item %>" data-zoom-image="/<%= item %>">
                                                <img src="/<%= item %>" alt="product side">
                                            </a>
                                        <% }) %>

                                        
                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title"><%=product.productName%></h1><!-- End .product-title -->

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                                    </div><!-- End .rating-container -->

                                    <div class="product-price">
                                        Rs&nbsp;<%=product.price%>
                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        <p><%=product.description%></p>
                                    </div><!-- End .product-content -->

                                    
                                    <div class="product-details-action">
                                        <% if(product.quantity<1) {%>
                                        <p class="h6 text-danger">Out of stock</p>
                                        <% }else{ %>
                                            <a href="/addToCart/<%=product._id%>" class="btn-product btn-cart"><span>add to cart</span></a>
                                       <% } %>
                                        <div class="details-action-wrapper">
                                            <a href="/addToWishlist/<%=product._id%>"  class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                                        </div><!-- End .details-action-wrapper -->
                                    </div><!-- End .product-details-action -->

                                   
                                        <div class="product-content">
                                            
                                        </div><!-- End .product-content -->
                                        

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#"><%=product.categoryId.categoryName%></a>,
                                            <!-- <a href="#">Dresses</a>, -->
                                            <!-- <a href="#">Yellow</a> -->
                                        </div><!-- End .product-cat -->

                                        
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    

                    <h2 class="title text-center mb-4"></h2><!-- End .title text-center -->

                    

        
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    

    

    

    <!-- Plugins JS File -->
    <script src="/user/assets/js/jquery.min.js"></script>
    <script src="/user/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/user/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/user/assets/js/jquery.waypoints.min.js"></script>
    <script src="/user/assets/js/superfish.min.js"></script>
    <script src="/user/assets/js/owl.carousel.min.js"></script>
    <script src="/user/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/user/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="/user/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/user/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/user/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</body>


<!-- molla/product.html  22 Nov 2019 09:55:05 GMT -->
</html>